## Scraping data from website + Pandas

### 1. Importing Librabies

In [32]:
from bs4 import BeautifulSoup
import requests

### 2. Fetching and Parsing the Webpage

In [34]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page=requests.get(url)
soup=BeautifulSoup(page.text,'html')

### 3. Extracting Table Data

In [39]:
table=soup.find_all('table')[1]
table_headers=table.find_all('th')
table_headers_titles= [titles.text.strip() for titles in table_headers]
print(table_headers_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

### 4. Creating a DataFrame and Populating It

#### 4.1 Inserting the columns in the dataframe

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=table_headers_titles)

#### 4.2 Inserting the individual rows in the dataframe

In [19]:
all_data=table.find_all('tr')
for row in all_data[1:]:
    row_data=row.find_all('td')
    individual_row_data= [data.text.strip() for data in row_data]
    lenght=len(df)
    df.loc[lenght]=individual_row_data

#### 4.3 Checking the dataframe

In [21]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

### 5. Exporting the Data to CSV

In [25]:
df.to_csv(r'E:\Downloads\scraped csv\top_companiess.csv', index= False)